---
import Layout from "@/layouts/Layout.astro";
import {
    Card,
    CardContent,
    CardFooter,
    CardHeader,
    CardTitle,
    CardDescription,
} from "@/components/ui/card";
import { SiGithub, SiPaypal } from "@icons-pack/react-simple-icons";
import { Badge } from "@/components/ui/badge";
---

<Layout>
    <main class="flex flex-col">
        <section class="flex flex-col">
            <h1
                class="text-4xl tracking-tight animate-fade-in-up sm:pt-2 sm:border-t text-balance sm:text-normal"
            >
                Welcome in!
                <br>
                Shoes by the door, if you please.
            </h1>

            <div
                id="cards"
                class="grid grid-cols-2 gap-4 mt-8 mb-16 animate-fade-in-up-1"
            >
                <Card className="dark:border-0 rounded-xl col-span-2">
                    <CardHeader>
                        <CardTitle>
                            <h2 class="text-2xl tracking-tight">I'm Andrew.</h2>
                        </CardTitle>
                        <CardDescription className="text-lg tracking-tight">
                            I aim to build simple, satisfying software, for fun
                            and against friction. I've been writing code for
                            nearly a decade, professionally for the last three
                            years.
                        </CardDescription>
                    </CardHeader>
                    <CardFooter
                        className="text-muted-foreground mt-auto flex flex-row gap-2 **:text-[0.95em]"
                    >
                        <a href="/blog" class="group">
                            <Badge
                                variant="outline"
                                className="group-hover:bg-accent"
                            >
                                Blog
                            </Badge>
                        </a>
                        <a href="/work" class="group">
                            <Badge
                                variant="outline"
                                className="group-hover:bg-accent"
                            >
                                Work
                            </Badge>
                        </a>

                        <a href="/resume" class="group ml-auto">
                            <Badge
                                variant="outline"
                                className="group-hover:bg-accent"
                            >
                                Resume
                            </Badge>
                        </a>
                        <a href="/contact" class="group">
                            <Badge
                                variant="outline"
                                className="group-hover:bg-accent"
                            >
                                Contact
                            </Badge>
                        </a>
                    </CardFooter>
                </Card>

                <Card
                    className="dark:border-0 rounded-xl col-span-2 sm:col-span-1"
                >
                    <CardHeader>
                        <CardTitle>
                            <h2 class="text-2xl tracking-tight">Currently</h2>
                        </CardTitle>
                        <CardDescription
                            className="text-lg sm:text-sm tracking-tight sm:tracking-normal"
                        >
                            Orchestrating merchant payouts at
                            <a
                                href="https://paypal.com/us/braintree"
                                class="hover:cursor-pointer underline hover:text-foreground"
                            >
                                PayPal Braintree</a
                            >. Sending out over $1.5B a day around the world.
                        </CardDescription>
                    </CardHeader>

                    <CardFooter className="text-muted-foreground mt-auto">
                        <a href="https://paypal.com">
                            <SiPaypal />
                        </a>
                    </CardFooter>
                </Card>

                <Card
                    className="dark:border-0 rounded-xl col-span-2 sm:col-span-1"
                >
                    <CardHeader>
                        <CardTitle>
                            <h2 class="text-2xl tracking-tight">Projects</h2>
                        </CardTitle>
                        <CardDescription
                            className="text-lg sm:text-sm tracking-tight sm:tracking-normal"
                        >
                            Lately building personal tools in
                            <a
                                href="https://www.rust-lang.org/"
                                class="hover:cursor-pointer underline hover:text-foreground"
                            >
                                Rust</a
                            >. Whatever gets the job done. Whatever makes the
                            job fun.
                        </CardDescription>
                    </CardHeader>

                    <CardFooter className="text-muted-foreground mt-auto">
                        <a href="https://github.com/andrewjleung">
                            <SiGithub />
                        </a>
                    </CardFooter>
                </Card>
            </div>
        </section>
    </main>
</Layout>

<style>
</style>
