---
import { getCollection, render } from "astro:content";
import { formatDistanceToNowStrict } from "date-fns";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts
        .filter((post) => post.data.live)
        .map((post) => ({
            params: { id: post.id },
            props: { post },
        }));
}
// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);

const formattedDate = formatDistanceToNowStrict(post.data.publishDate, {
    addSuffix: true,
});
---

<Layout
    title={`Andrew Leung – Blog – ${post.data.title}`}
    description={post.data.description}
    pageTitle={post.data.title}
    showHeader
>
    <h3 class="text-muted-foreground font-normal -mt-5 animate-fade-in-up">
        {formattedDate}
    </h3>

    <article class="animate-fade-in-up-1 prose-lg">
        <Content />
    </article>
</Layout>

<style>
</style>
