@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  background-color: theme("colors.black");
}

.light {
  background-color: theme("colors.white");
}

* {
  box-sizing: border-box;
}
