---
import clsx from "clsx";

const { className, ...props } = Astro.props;
---

<main class={clsx("flex flex-col gap-5 md:mb-36 w-full", className)} {...props}>
    <slot />
</main>

<script>
</script>
