---
import "../styles/global.css";

const year = new Date().getFullYear();
---

<div id="container" class="flex flex-col justify-center items-center h-full">
  <nav class="max-w-screen-lg w-full">
    <section id="links" class="">
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
    </section>
  </nav>
  <main class="max-w-screen-lg flex grow items-center justify-center w-full">
		<section id="hero" class="">
      <div class="whitespace-nowrap bg-gradient-to-br from-black via-transparent to-transparent text-6xl bg-[size:400%] animate-background-pan bg-clip-text text-transparent">
        Andrew Leung
      </div>
        Andrew Leung
      </div>
      <div class="w-[305px] xs:w-[453px] sm:w-[566px]" />
      <div class="motion-safe:animate-fade-up">
        <p
          class="mt-6 w-0 min-w-full"
        >
          Software Engineer at PayPal, Braintree Post-Processing. Looking to
          improve the lives of users and developers alike.
        </p>
        <!--<Stats className="mt-6 w-0 min-w-full text-xs text-black dark:text-white sm:text-sm" />-->
        <div class="mt-8 flex flex-row items-center gap-3 text-sm text-black dark:text-white">
        </div>
      </div>
		</section>
	</main>
  <footer class="w-full max-w-screen-lg flex flex-row items-center justify-end">
    <span class="whitespace-nowrap">© {year} Andrew Leung. All rights reserved.</span>
  </footer>
</div>

<style>
</style>
