---
import Layout from "@/layouts/Layout.astro";
import { ArrowRight, Home } from "lucide-react";
import {
    Breadcrumb,
    BreadcrumbItem,
    BreadcrumbLink,
    BreadcrumbList,
    BreadcrumbSeparator,
    BreadcrumbPage,
    BreadcrumbEllipsis,
} from "@/components/ui/breadcrumb";
---

<Layout>
    <main class="flex flex-col gap-5">
        <header class="animate-fade-in-up">
            <Breadcrumb>
                <BreadcrumbList>
                    <BreadcrumbItem>
                        <BreadcrumbLink href="/">Home</BreadcrumbLink>
                    </BreadcrumbItem>
                </BreadcrumbList>
            </Breadcrumb>
            <h2 class="mt-0">Blog</h2>
        </header>

        <section class="flex flex-col gap-5">
            <a
                href="/"
                class="grid grid-cols-6 relative group ease-out duration-200 hover:translate-x-2 border-t pt-2 animate-fade-in-up-1"
            >
                <div
                    class="absolute right-full mr-4 pt-1 opacity-0 group-hover:opacity-100 duration-100 ease-in-out"
                >
                    <ArrowRight
                        className="stroke-2 scale-75 stroke-foreground"
                    />
                </div>

                <h3 class="col-span-1">Belief</h3>

                <div class="col-span-5">
                    <p class="">
                        Attention, and the slow, steady cascade of self belief I
                        stumbled up through my first post-grad job hop.
                    </p>
                </div>
            </a>

            <a
                href="/"
                class="grid grid-cols-6 relative group ease-out duration-200 hover:translate-x-2 border-t pt-2 animate-fade-in-up-1"
            >
                <div
                    class="absolute right-full mr-4 pt-1 opacity-0 group-hover:opacity-100 duration-100 ease-in-out"
                >
                    <ArrowRight
                        className="stroke-2 scale-75 stroke-foreground"
                    />
                </div>

                <h3 class="col-span-1">Quitters</h3>

                <div class="col-span-5">
                    <p class="">
                        Present, past perspectives on music-making, finding
                        meaning in that, losing meaning in that. Undertones of
                        DAW hatred.
                    </p>
                </div>
            </a>
        </section>
    </main>
</Layout>
