---
import clsx from "clsx";
import {
    VerticalSpotlightList,
    VerticalSpotlightListItem,
} from "@/components/vertical-spotlight-list";
import Layout from "@/layouts/Layout.astro";

type DirectoryItem = {
    name: string;
    detail?: string;
    href?: string;
};

const DIRECTORY: DirectoryItem[] = [
    {
        name: "Welcome in!",
    },
    {
        name: "I'm Andrew", // ' appeasing biome?
    },
    {
        name: "PayPal",
        href: "https://paypal.com",
    },
    {
        name: "Blog",
        href: "/blog",
    },
    {
        name: "Work",
        href: "/work",
    },
    {
        name: "Resume",
        href: "/resume",
    },
    {
        name: "Contact",
        href: "mailto:andrewleung104@gmail.com",
    },
];
---

<Layout>
    <section id="directory" class="animate-fade-in-up w-full">
        <VerticalSpotlightList numItems={DIRECTORY.length} client:load>
            {DIRECTORY.map(w =>(
                <VerticalSpotlightListItem className="group not-last:mb-0.5">
                    <a href={w.href} class="flex flex-col-reverse sm:flex-row sm:items-center">
                        <span
                            class={clsx(
                                "font-semibold text-4xl tracking-tight duration-200 ease-out sm:group-hover:translate-x-2 whitespace-nowrap",
                                { "md:no-underline underline": w.href != undefined }
                            )}
                        >
                            {w.name}
                        </span>
                        {w.detail && <span
                            class="text-sm ml-auto text-muted-foreground sm:opacity-0 sm:group-hover:opacity-100 ease-in-out sm:ease-out duration-100 sm:duration-400 transition-all mr-2 whitespace-nowrap"
                        >
                            {w.detail}  
                        </span>} 
                    </a>
                </VerticalSpotlightListItem>
                ) )}
        </VerticalSpotlightList>
    </section>
</Layout>

<style>
</style>
